<!DOCTYPE html>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover' />
<style>
    :root {
        --sat: env(safe-area-inset-top);
        --sar: env(safe-area-inset-right);
        --sab: env(safe-area-inset-bottom);
        --sal: env(safe-area-inset-left);
    }
</style>
<script>
    const loadingCard = document.createElement('div');
    loadingCard.id = "MainLoading";
    loadingCard.style.position = "fixed";
    loadingCard.style.top = "0";
    loadingCard.style.left = "0";
    loadingCard.style.width = "100vw";
    loadingCard.style.height = "100vh";
    loadingCard.style.maxWidth = "none";
    loadingCard.style.maxHeight = "none";
    loadingCard.style.margin = "0";
    loadingCard.style.borderRadius = "0";
    loadingCard.style.zIndex = "9999";
    loadingCard.style.pointerEvents = "auto";
    loadingCard.style.backgroundColor = "#212529"; // Bootstrap dark 색상
    loadingCard.style.display = "flex";
    loadingCard.style.alignItems = "center";
    loadingCard.style.justifyContent = "center";
    loadingCard.style.color = "white";
    loadingCard.style.fontSize = "32px";
    
    loadingCard.innerHTML = `
        <div style="text-align: center;"><div>Initialization...</div></div>
    `;
    
    if (document.readyState === 'loading') {
        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'interactive' || document.readyState === 'complete') {
                if (document.body)  document.body.appendChild(loadingCard);
            }
        });
    }
</script>
<!--Include-->
<!--Manifest-->
<!--EntryPoint-->
<script>
let deferredPrompt;
window.addEventListener("beforeinstallprompt", (event) => {
    event.preventDefault();
    deferredPrompt = event;
});
</script>
